<link
  rel="stylesheet"
  href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
  crossorigin="anonymous"
/>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
  crossorigin="anonymous"
></script>
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
  crossorigin="anonymous"
></script>

<html lang="ru">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style>
      .columns-header {
        margin-top: 0.3em;
        margin-bottom: 1em;
      }
      .btn{
        margin-top: 1em;
      }
      .featurette-heading{
        font-size: 1.5em;
      }
    </style>
    <title>Личная страница</title>
  </head>

{% extends "layout.html" %} {% block content %}
<div class="col-md-7">
  <h2 class="columns-header">Guestbook</h2>
  <form action="{{ url_for('sign') }}" method="post">
    <div class="input-group mb-3">
      <span class="input-group-text">Назовите себя</span>
      <input
        type="text"
        name="name"
        class="form-control"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Как с вами связаться</span>
      <input
        type="text"
        name="email"
        class="form-control"
        aria-describedby="basic-addon3"
      />
    </div>

    <div class="input-group">
      <span class="input-group-text">Ваш отзыв</span>
      <textarea
        class="form-control"
        name="message"
        aria-label="With textarea"
        style="height: 38px"
      ></textarea>
    </div>
    <!--<p class="heading">Ваше имя: <input type=text name=name>
        <p class="heading">Ваш Email: <input type=text name=email>
        <p class="heading">Что вы хотите сказать?
        <textarea rows=5 cols=50 name=message></textarea></p>-->
    <p><input type="submit" value="Отправить" class="btn btn-primary"/></p>
  </form>
  <hr class="featurette-divider" />

  <h2>Отзывы:</h2>
  </div>
  {% for entry in entries[::-1] %}
  <div class="col-md-7">

  <h2 class="featurette-heading fw-normal lh-1">
    {{ entry.name }} <span class="text-muted">{{ entry.email }}</span>
  </h2>
  <p class="entry">
    {{ entry.message }}
    <br /><span class="text-muted">- отправлено {{ entry.signed_on }}</span>
  </p>
    </div>


{% endfor %} {% endblock %}
